<html>
<head>
	<title>PRINTO</title>
</head>
<body>
	{% load staticfiles %}
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js" type="text/javascript"></script>
	{% include 'autocomplete_light/static.html' %}
	<script src="{% static 'printo_app/fly_widget.js' %}" type="text/javascript"></script>
	<a href="{% url 'documentList' %}">Documents</a>
	<a href="{% url 'documentUpload' %}">Upload a Document</a>
	<a href="{% url 'shopProfile' %}">Shop Profile</a>
	<div id="content">
		{% block content %}

		{% endblock %}
	</div>
	{% block javascript %}
    {% endblock %}

</body>
</html>